<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Your Orders</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">

</head>
<body>

    <nav>

    <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Madhura Foods Logo">
        <span>Madhura Foods</span>
    </div>

    <ul>
        <li><a href="/profile">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/orders" class="active">Orders</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="dropdown">
            <a href="#">Profile ▼</a>
            <div class="dropdown-content">
                <a href="/edit-profile">Edit Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </li>
    </ul>

</nav>
</body>